/* Edit the Team Booking UI */

/* hide the clock icon we don't need */
.tbk-schedule-filter-icons {
  display: none;
}

.tbk-schedule-slot:not(.tbk-read-only):hover,
.tbk-schedule-slot:not(.tbk-read-only):focus,
.tbk-upcoming-slot:not(.tbk-read-only):hover,
.tbk-upcoming-slot:not(.tbk-read-only):focus,
.tbk-schedule-slot.tb-book-advice:hover,
.tbk-schedule-slot.tb-book-advice:focus,
.tbk-upcoming-slot.tb-book-advice:hover,
.tbk-upcoming-slot.tb-book-advice:focus {
  transform: translateY(0);
}

/* Button styles */
.tbk-slot-button {
  background-color: rgba($white, 0.1);
  border-width: 0;
  min-height: 3.5rem;

  @include on-event {
    background-color: transparent;
  }
}

/* hide another cloock icon we don't need */
.tbk-cell .wait {
  display: none;
}

/* the label for the avdelning: Musslan eller Snäckan */
.tbk-divider {
  font-weight: 400;
}
