/* Team Booking customization */

div.calendar_main_container {
  margin: 4rem 0 !important;
}

/* hide the clock icon we don't need */
.tbk-schedule-filter-icons {
  display: none !important;
}

.tbk-schedule-slot:not(.tbk-read-only):hover,
.tbk-schedule-slot:not(.tbk-read-only):focus,
.tbk-upcoming-slot:not(.tbk-read-only):hover,
.tbk-upcoming-slot:not(.tbk-read-only):focus,
.tbk-schedule-slot.tb-book-advice:hover,
.tbk-schedule-slot.tb-book-advice:focus,
.tbk-upcoming-slot.tb-book-advice:hover,
.tbk-upcoming-slot.tb-book-advice:focus {
  transform: translateY(0) !important;
}

/* Button styles */
.tbk-slot-button {
  //background-color: transparent !important;
  //border-width: 0 !important;
  min-height: 3.5rem !important;
  border-radius: 0 !important;

  @include on-event {
    //background-color: transparent !important;
  }

  .tbk-bgnd {
    margin: -11px -12px !important;
  }
}

.tbk-button:not(.tbk-file-button) {
  color: $black !important;
  //background-color: $button--background-color !important;

  @include on-event {
    color: $black !important;
    // background-color: $button--background-color-hover !important;
  }
}

.tbk-slot-button:hover .tbk-bgnd {
  //display: none !important;
}

/* hide another clock icon we don't need */
.tbk-cell .wait {
  display: none !important;
}

/* the label for the avdelning: Musslan eller Snäckan */
.tbk-divider {
  font-weight: 400 !important;
}

/* Adjust the booking buttons */
.tbk-add {
  margin-right: 0.5rem !important;
  width: calc(49% - 0.5rem) !important;
  float: left !important;
}

.tbk-book {
  margin-left: 0.5rem !important;
  float: right !important;
  width: calc(49% - 0.5rem) !important;
}

.tbk-slot-label {
  margin: 1rem 0 !important;
}

.tbk-meta {
  display: none !important;
}

.tbk-slot-button,
.tbk-in-cart .tbk-slot-button.tbk-add:hover {
  //border-width: 0 !important;
  //border-color: transparent !important;
}

/* Booking form */

.tbk-reservation-form-footer {
  border-width: 0 !important;

  .tbk-tickets-price-section {
    .tbk-tickets-span,
    .tbk-ticket-value-cell {
      display: none !important;
    }
  }
}

.tb-frontend-calendar .tbk-fields {
  margin-top: 5rem !important;
}

.tb-frontend-calendar .ui.tbk-divider {
  //display: none !important;
}

.tbk-field-text {
  label {
    color: rgba($white, 0.5) !important;
    font-size: 1.4rem !important;
    font-family: $sans !important;
    margin: 0 0 6px 18px !important;

    &:after {
      color: rgba($white, 0.3) !important;
    }
  }
}

.tbk-reservation-form-footer {
  margin: 0 !important;
  padding-top: 0 !important;
}

/* remove tickets row from final booking screen */
.tbk-reservation-review-content {
  table {
    tbody {
      tr {
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
}

/* Multi-day booking form */
.tbk-slide .tbk-summary-table .tbk-summary-slot-details {
  display: none;
}

.tbk-summary-slot-header {
  text-align: center;
}

.tbk-cart-summary-service-header span.tbk-edit-form {
  display: none;
}
