/* ==========================================================================
   Tooltip styles
   ========================================================================== */

// Code ref. https://codepen.io/cbracco/pen/qzukg

// Base styles for the element with the tooltip
[data-tooltip] {
  position: relative;
  cursor: pointer;
  text-align: center;
  font-family: $sans;
}

// Base styles for the entire tooltip
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.1s linear, visibility 0.1s linear, transform 0.1s;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

// Show the entire tooltip on hover and focus
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

// Base styles for the tooltip's directional arrow
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

// Base styles for the tooltip's content area
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 200px;
  background-color: $dark-grey;
  border-radius: 3px;
  color: $white;
  content: attr(data-tooltip);
  @include font-size(12px);
  line-height: 1.2;
}

.tooltip:before,
.tooltip:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: $dark-grey;
}

.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  transform: translateX(-12px);
}

// Move directional arrows down a bit
.tooltip:before {
  top: 7px;
}

// Vertically center tooltip content
.tooltip:after {
  margin-left: 0;
  margin-bottom: -16px;
}
