/* ==========================================================================
   Intranät sidor
   ========================================================================== */

/* Intranät > Member Profile page
   =================================== */

label {
  @include sm-caps;
  @include font-size(12px);
  color: #666;
}

select {
  margin: 0 0 20px 0;
  width: 250px;
  padding: 5px 45px 5px 10px !important;
  height: 50px !important;
  border-radius: 0;
  border: $border-width $border-style $light-grey;
  appearance: none;
  color: $black;
  background: url("images/noun_down_1920917.png") 97% / 5% no-repeat $white;
}

select::-ms-expand {
  display: none;
  /* remove default arrow in IE 10 and 11 */
}
/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

.acf-input select option {
  padding-left: 10px;
}

.acf-field input[type="text"],
.acf-field input[type="password"],
.acf-field input[type="number"],
.acf-field input[type="search"],
.acf-field input[type="email"],
.acf-field input[type="url"],
.acf-field textarea {
  border: $border-width $border-style $light-grey;
  // padding: 25px 10px;
}

.acf-fields > .acf-field {
  position: relative;
  margin: 0;
  padding: 15px 0;
  border: 0 !important;
}

.acf-field .acf-label {
  vertical-align: top;
  margin: 0 0 5px;
}

.acf-input-wrap {
  position: relative;
  overflow: hidden;
}

.acf-fields {
  position: relative;
}

.user-profile-select {
  max-width: 300px;

  input {
    background-color: #f0f0f0 !important;
  }
}

/* Intranät > Medlemmar & uppdrag sida
   =================================== */
div.table-wrapper {
  overflow-x: auto;
}

table.medlemmar-table {
  th {
    @include sm-caps;
    @include font-size(13px);
  }

  td {
    vertical-align: top !important;
  }
}

/* Intranät > Medlemslista
   =================================== */

dl {
  padding: 0;
  line-height: 1.5;

  dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
    font-family: $base-font-bold;
    @include font-size(18px);
    background: $white;
  }

  dd {
    margin: 0 0 0 210px;
    padding: 0 0 0.5em;
    @include font-size(18px);
    position: relative;

    &.parents {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border-color;
    }
  }
}

dl.list-heading dd::after {
  content: "Tel. & e-post";
}

.parent {
  min-width: 250px;
  display: inline-block;
}

a {
  &.email-link {
    position: absolute;
    left: 290px;
  }

  &.email-link,
  &.tel-link {
    font-size: 0;
    color: $dark-grey;
  }

  &.email-link:hover,
  &.tel-link:hover {
    color: $blue;
  }

  &.email-link::before,
  &.tel-link::before {
    visibility: visible;
    padding-top: 4px;
  }
}

dl.list-heading {
  border-bottom: 2px solid $lighter-grey;
  font-family: $sans;
  @include font-size(14px);
  font-weight: $font-weight--bold;
  padding-bottom: 0 !important;
  line-height: 1 !important;

  dd,
  dt {
    padding-bottom: 0.1rem;
    font-family: $sans;
    @include font-size(14px);
    font-weight: $font-weight--bold;
  }
}

.child-plus {
  padding-left: 0.5rem;
}

.child-plus-plus {
  padding-left: 1rem;
}
@media only screen and (max-width: 620px) {
  dl {
    &.list-heading {
      display: none;
    }
    padding: 0;
  }

  dt {
    float: none;
    margin-top: 5px;
  }

  dd {
    background: $lightest-grey;
    margin: 0;
    padding: 0 0 0 0.5rem;
  }
}
@media only screen and (max-width: 374px) {
  .parent {
    min-width: 0;
  }

  a.email-link {
    position: relative;
    left: auto;
  }
}

/* Intranät > Styrelsen
   =================================== */

p.position {
  @include font-size(21px);
  border-bottom: $border-width $border-style $light-grey;
  padding-bottom: 1.5rem;
  max-width: 100%;
}

/* Intranät > Städning
   =================================== */

.booking_form_div,
.date_available,
.hasDatepick,
.wpdevbk form,
.wpdevbk p {
  font-family: $sans;
}

.booking_form_div p {
  font-size: 1.2rem;
  margin: 2rem 0 1rem 0 !important;
}

.booking_form_div input[type="text"],
.booking_form_div textarea {
  font-family: $base-font;
}

.page-id-910 h3 {
}

.datepick-inline {
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
  border-radius: !important;
}

.booking_form input[type="button"],
.booking_form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  background-color: $button--background-color;
  border: 0;
  color: $button--font-color;
  width: auto;
  padding: 15px 30px;
  font-size: $button--font-size;
  font-weight: $font-weight--bold;
  white-space: normal;
  text-decoration: none;
  cursor: pointer;
  border-radius: $button-border;
  @include sm-caps;

  &:focus,
  &:hover {
    color: $button--font-color-hover;
    background-color: $button--background-color-hover;
  }

  &.small {
    padding: 8px 16px;
  }
}

.booking_form_div input[type="text"],
.booking_form_div select,
.booking_form_div textarea {
  border-color: #ddd !important;
  border-radius: 0 !important;
}

.booking_form_div input[type="text"] {
  height: auto !important;
  padding: 15px 10px !important;
}

.wpdevbk input,
.wpdevbk textarea {
  box-shadow: 0 0 0 0 !important;
}

.booking_form input[type="text"],
.booking_form textarea {
  width: 100% !important;
}

.datepick-inline .date2approve,
.datepick-inline .date_available,
.datepick-inline .date_available.datepick-unselectable {
  color: #fff !important;
  text-shadow: none !important;
}

.datepick-inline .date_available a {
  font-family: $sans;
  text-shadow: 0 !important;
}

.booking_form input[type="button"] {
  margin-bottom: 30px;
}
