// Fake small caps, loose kerning
@mixin sm-caps {
  font-family: $sans !important;
  text-transform: uppercase;
  letter-spacing: 0.1rem !important;
  font-weight: 700 !important;
}

// Fake small caps, tighter kerning
@mixin sm-caps-tight {
  font-family: $sans !important;
  text-transform: uppercase;
  letter-spacing: 0.05rem !important;
  font-weight: 700 !important;
}

// Automatically add rem font-size

// Define default font size
@function calculateRem($size) {
$remSize: $size / 10px;
@return $remSize * 1rem;
}

@mixin font-size($size) {
font-size: $size;
font-size: calculateRem($size);
}

//Usage
// p {
// @include font-size(14px)
// }

//Output
// p {
// font-size: 14px; //For unsupported browsers
// font-size: 0.8rem;
// }
